extends layout

block content
  header(class='tc pv3 pv3-ns')
    h2(class='f1 dark-gray fw9 ttu tracked') LOADMAP
  form(class='bg-washed-red mw7 center pa4 b--black-10' action='/search' method='post')
    fieldset(class='cf bn ma0 pa0')
      div(class='cf')
        label(class='clip') Course Name
        input(class='f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns' placeholder="Search" type='text' value='' id='search-course' name='coursename')
        input(class='f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns' type='submit' value='SEARCH')




